<div class="container mb-3">
  <!--IMPORTANT: Diretiva ngFor-->
  <h2 class="text-center">*ngFor</h2>
  <ul>
    <li *ngFor="let curso of cursos, let i = index">
      {{ i + 1 }}: {{ curso }}
    </li>
  </ul>

  <!--IMPORTANT: Diretiva Template, como o *ngFor funciona por tras dos panos, eh criado um ng-template que interage com a lista-->
  <h5>Removendo o * do *ngFor e usando template</h5>
  <ul>
    <ng-template ngFor let-item [ngForOf]="cursos" let-i="index">
      <li>{{ i + 1 }}/{{ cursos.length }} - {{ item }}</li>
    </ng-template>
  </ul>
</div>
