<div class="mb-3">
  <!--Important: Diretiva utilizando Atributo ElementRef e Renderer2-->
  <h2 class="text-center">Diretiva de Atributo</h2>
  <h6 class="text-center">Element Ref e Renderer2</h6>
  <p fundoAmarelo>Texto com fundo amarelo</p>
  <button fundoAmarelo>Botao com fundo amarelo</button>
</div>

<div class="mb-3">
  <!--Important: Diretiva utilizando Annotations @ HostListener para ouvir evento e @ HostBinding que define qual tipo de atributo sera alterado nesse caso Style-->
  <h6 class="text-center">@ HostListener - Escuta evento | @ HostBinding - Define Propriedade a ser alterada</h6>
  <p highlightMouse>Texto com highlight quando passo o mouse</p>
</div>

<div class="mb-3">
<!--Important: Diretiva utilizando Annotations @ HostListener para ouvir evento e @ HostBinding que define qual tipo de atributo sera alterado nesse caso Style
      e utilizando InputProperty para criar valores padroes que podem ser SobreEscritos pelo Usuario-->
  <h6 class="text-center">@ HostListener - Escuta evento | @ HostBinding - Define Propriedade a ser alterada | @ Input
    propriedade sobreescrita onde o cliente define a COR</h6>
  <p [highlight]="'cyan'" [defaultColor]="'grey'">Texto com highlight com cores customizadas</p>
</div>

<div class="mb-3">
  <!--IMPORTANT: Nivel FODA - Criando NOVO componente para proprio angular para Validar Expressao FALSA-->
  <h2 class="text-center">Criando Componente *ngElse, nao existente no Angular</h2>
  <div *ngIf="mostrarCursos">
    Lista de cursos aqui
  </div>

  <div class="mb-3" *ngElse="mostrarCursos">
    Nao existem cursos para serem listados.
  </div>

  <div class="mb-3">
    <button class="btn btn-primary" (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
  </div>

  <ng-template [ngElse]="mostrarCursos" class="mb-3">
      <h5>Removendo o * do *ngElse e usando template</h5>
    <div>
      Template - Nao existem cursos para serem listados.
    </div>
  </ng-template>

</div>
